mixin videoElement
  .videoFrame
    video(muted autoplay)
      audio

doctype
html
  head
    title WebBeats
    link(rel='stylesheet', href='/styles/style.css')
    script(src='/scripts/lib/RecordRTC.js')
    script(src='/scripts/app/WebRTC.js')
    script(src='/scripts/app/script.js')
  body
    .holder
      - for(var x=0;x<9;x++)
        +videoElement
    .col
      h1 Toggle Audio:
        #toggle.on
      span This is so beta it hurts.
      span <br><br>Click a box to record, click it again to stop recording
      .bpm BPM:
        input(type='text',name='bpm',value='88')
      .numBeats Number of Beats:
        input(type='text',name='numBeats',value='4')
      .pulseHolder
        #pulse