mixin videoElement
  .videoFrame
    video(muted autoplay)
      audio

doctype
html
  head
    title WebBeats
    link(rel='stylesheet', href='/styles/style.css')
    script(src='/scripts/lib/RecordRTC.js')
    script(src='/scripts/app/WebRTC.js')
    script(src='/scripts/app/script.js')
  body
    .holder
      - for(var x=0;x<9;x++)
        +videoElement
    .col
      h1 Toggle Audio:
        #toggle.on
      .headphones Headphones:
        input(type='checkbox',name='headphones')
      .bpm BPM:
        input(type='text',name='bpm',value='88')
      .numBeats Number of Beats:
        input(type='text',name='numBeats',value='4')
      .pulseHolder
        #pulse
      span This is so beta it hurts.
      ul.instructions 
        li Click a box to record a loop.  It will stop recording at the number of beats specified
        li Layer your loops to make a song. 
        li Mute all loops with the toggle above, or individual loops with their control.
