mixin videoElement
  .videoFrame
    video(muted autoplay)
      audio

doctype
html
  head
    title WebBeats
    link(rel='stylesheet', href='/styles/style.css')
    script(src='/scripts/lib/RecordRTC.js')
    script(src='/scripts/script.js')
  body
    .holder
      - for(var x=0;x<9;x++)
        +videoElement
    .col
      h1 Toggle Audio:
        #toggle.on
      span This is so beta it hurts.