* {
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  padding-left: 5%;
}
.holder {
  width: 90%;
  max-width: 800px;
  min-width: 300px;
  height: 0;
  padding-bottom: 90%;
  display: table-cell;
  vertical-align: top;
}
.col {
  display: table-cell;
  vertical-align: top;
  padding: 0 24px;
}
h1 { 
  margin: 0px;
}
.videoFrame {
  background-color: #900;
  width: 28%;
  height: 28%;
  padding-bottom: 28%;
  margin-right: 3%;
  margin-bottom: 3%;
  display: inline-block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -25%;
  width: 134%;
}
.recording {
  -moz-filter: opacity(.7);
  -webkit-filter: opacity(.7);
  filter: opacity(.7); 
}
#toggle {
  display: inline-block;
  border-radius: 10%;
  border: 5px solid #021A1F;
  border-left: 20px solid #021A1F;
  border-right: 20px solid #021A1F;
  background: -webkit-linear-gradient(left, #5B8C80  50%,#DE7268 50%);
  width: 150px;
  height: 50px;
  position: relative;
}
#toggle::before {
  position: absolute;
  content: "";
  background: #E3AA4F;
  cursor: pointer;
  border-radius: 10%;
  height: 40px;
  width: 70px;
  top: 0;
  left: -8px;
}
#toggle.on::before {
  left: auto;
  right: -8px;
}
#toggle::after {
  position: absolute;
  content: "";
  border-radius: 15%;
  height: 35px;
  width: 8px;
  top: 2px;
  left: 23px;
  background-color: #FFF;
  box-shadow: 2px 2px 1px #CB9846;
}
#toggle.on::after {
  left: auto;
  right: 23px;
}
#pulse {
  border-radius: 100%;
  background: #900;
  display: none;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}